.hero{
    display: flex;
    justify-content: center;
}

.imgcontainer{
    width: 250px;
    height: 250px;
    margin-top:1rem;
    margin-bottom:1rem;
}

.link {
    outline:none;
    box-shadow:none;
}

.img{
    max-width: 100%;
    width: 250;
    height: 250;
} 